export USER_SIGNING_KEY="signing-key"
export USER_NAME="name"
export USER_EMAIL="email"
export USER_EMAIL_CLTRMP="email"

export SSH_IDENTITY_FILE="~/.ssh/path/to/identity/file"

export GITHUB_USER="github-user"
export GITHUB_TOKEN="github-public-pat"
export GITHUB_REGISTRY_TOKEN="github-registry-pat"
