# ┌─┐┌─┐┌┐┌┌─┐┬─┐┬┌─┐
# │ ┬├┤ │││├┤ ├┬┘││
# └─┘└─┘┘└┘└─┘┴└─┴└─┘

export LANG=en_AU.UTF-8
export XDG_CONFIG_HOME="$HOME/.config"
export HOMEBREW_PREFIX=$(brew --prefix)
export DOTFILES="$HOME/.dotfiles"
export CODE="$HOME/Code"
export EDITOR='nvim'
export THEME="Catamaran"
export BAT_THEME="$THEME" # https://github.com/sharkdp/bat

# ┬ ┬┌─┐┌─┐┬─┐
# │ │└─┐├┤ ├┬┘
# └─┘└─┘└─┘┴└─

export USER_SIGNING_KEY="signing-key"
export USER_NAME="name"
export USER_EMAIL="email"
export USER_EMAIL_CLTRMP="email"

# ┌─┐┬┌┬┐┬ ┬┬ ┬┌┐
# │ ┬│ │ ├─┤│ │├┴┐
# └─┘┴ ┴ ┴ ┴└─┘└─┘

export GITHUB_USER="github-user"
export GITHUB_TOKEN="github-public-pat"
export GITHUB_REGISTRY_TOKEN="github-registry-pat"

# ┌┐┌┌─┐┌┬┐┬┌─┐┌┐┌
# ││││ │ │ ││ ││││
# ┘└┘└─┘ ┴ ┴└─┘┘└┘

export NOTION_API_KEY="notion-api-key"
export NOTION_BOOKMARKS_DATABASE_ID="notion-bookmarks-database-id"

# ┌┐┌┌┐┌┌┐┌
# │││││││││
# ┘└┘┘└┘┘└┘

export NNN_PLUG="o:fzopen;f:fzcd;j:autojump;p:preview-tui;v:imgview"
export NNN_BMS="d:$DOTFILES"
export NNN_COLORS="4356" # Contexts: 1st, 2nd, 3rd, 4th
export NNN_FCOLORS="0e0b05040d060e0909030708" # BLK, CHR, DIR, EXE, REG, HARDLINK, SYMLINK, MISSING, ORPHAN, FIFO, SOCK, OTHER
export NNN_FIFO="/tmp/nnn.fifo"

# ┌─┐┌─┐┬  ┌─┐┌┬┐┌┬┐┌─┐
# ├─┘├─┤│  ├┤  │  │ ├┤
# ┴  ┴ ┴┴─┘└─┘ ┴  ┴ └─┘
# Each export holds a GUI color code, Xterm hex number, and Xterm number respectively

export PALETTE_FG="#adbac7,fa,250" # Foreground
export PALETTE_BG="#22272e,eb,235" # Background
export PALETTE_RR="#22282f,ec,236" # Ruler
export PALETTE_IL="#2e353f,ec,236" # Indent Line
export PALETTE_BR="#040506,e8,232" # Border
export PALETTE_00="#1f242a,00,234"
export PALETTE_01="#f47067,01,203"
export PALETTE_02="#2bd2b9,02,43"
export PALETTE_03="#f5b168,03,215"
export PALETTE_04="#2f97ea,04,32"
export PALETTE_05="#e86db2,05,169"
export PALETTE_06="#04f6f6,06,51"
export PALETTE_07="#8296aa,07,103"
export PALETTE_08="#3c4552,08,238"
export PALETTE_09="#ff4b82,09,204"
export PALETTE_10="#00b196,0a,36"
export PALETTE_11="#ffcc95,0b,222"
export PALETTE_12="#6fc1ff,0c,75"
export PALETTE_13="#a394cd,0d,140"
export PALETTE_14="#87d7d7,0e,116"
export PALETTE_15="#9cb6d0,0f,146"
