# ██╗   ██╗███████╗███████╗██████╗
# ██║   ██║██╔════╝██╔════╝██╔══██╗
# ██║   ██║███████╗█████╗  ██████╔╝
# ██║   ██║╚════██║██╔══╝  ██╔══██╗
# ╚██████╔╝███████║███████╗██║  ██║
#  ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝

[user]
	name = Vahid Hallaji
	email = vahid@hallaji.com
	signingkey = 61CF4B720B545C3F

#  ██████╗ ██████╗ ██████╗ ███████╗
# ██╔════╝██╔═══██╗██╔══██╗██╔════╝
# ██║     ██║   ██║██████╔╝█████╗
# ██║     ██║   ██║██╔══██╗██╔══╝
# ╚██████╗╚██████╔╝██║  ██║███████╗
#  ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝

[core]
	ignorecase = false
	excludesfile = ~/.gitignore
	editor = vim

#  ██████╗ ██████╗ ███╗   ███╗███╗   ███╗██╗████████╗
# ██╔════╝██╔═══██╗████╗ ████║████╗ ████║██║╚══██╔══╝
# ██║     ██║   ██║██╔████╔██║██╔████╔██║██║   ██║
# ██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██║   ██║
# ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║██║   ██║
#  ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝╚═╝   ╚═╝

[commit]
	gpgsign = true

#  ██████╗ ██████╗  ██████╗
# ██╔════╝ ██╔══██╗██╔════╝
# ██║  ███╗██████╔╝██║  ███╗
# ██║   ██║██╔═══╝ ██║   ██║
# ╚██████╔╝██║     ╚██████╔╝
#  ╚═════╝ ╚═╝      ╚═════╝

[gpg]
	program = gpg2
