#  ██████╗ ██████╗  ██████╗      █████╗  ██████╗ ███████╗███╗   ██╗████████╗
# ██╔════╝ ██╔══██╗██╔════╝     ██╔══██╗██╔════╝ ██╔════╝████╗  ██║╚══██╔══╝
# ██║  ███╗██████╔╝██║  ███╗    ███████║██║  ███╗█████╗  ██╔██╗ ██║   ██║
# ██║   ██║██╔═══╝ ██║   ██║    ██╔══██║██║   ██║██╔══╝  ██║╚██╗██║   ██║
# ╚██████╔╝██║     ╚██████╔╝    ██║  ██║╚██████╔╝███████╗██║ ╚████║   ██║
#  ╚═════╝ ╚═╝      ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝  ╚═══╝   ╚═╝

pinentry-program ${HOMEBREW_PREFIX}/bin/pinentry-mac
allow-loopback-pinentry
default-cache-ttl 2592000 # 30 days
max-cache-ttl 7776000 # 90 days
