# ┌┐ ┌─┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬ ┬┌─┐
# ├┴┐├─┤└─┐├┤   ├─┘├─┤ │ ├─┤└─┐
# └─┘┴ ┴└─┘└─┘  ┴  ┴ ┴ ┴ ┴ ┴└─┘

export DOTFILES_HOME="$HOME/.dotfiles"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.local/cache"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_RUNTIME_DIR="${XDG_RUNTIME_DIR:=/tmp}"
export XDG_BIN_HOME="$HOME/.local/bin"
export PATH="$XDG_BIN_HOME:$PATH"

# ┌─┐┌─┐┌┐┌┌─┐┬─┐┬┌─┐
# │ ┬├┤ │││├┤ ├┬┘││
# └─┘└─┘┘└┘└─┘┴└─┴└─┘

export OS=$(uname | tr '[:upper:]' '[:lower:]')
export LANG=en_AU.UTF-8
export CODE="$HOME/Code"
export EDITOR="nvim"
export THEME="Catamaran"
export BAT_THEME="Catamaran" # https://github.com/sharkdp/bat

# ┬ ┬┌─┐┌─┐┬─┐
# │ │└─┐├┤ ├┬┘
# └─┘└─┘└─┘┴└─

export USER_NAME="name"
export USER_EMAIL="email"

# ┌─┐┬┌─┐┌┐┌┬┌┐┌┌─┐  ┬┌─┌─┐┬ ┬┌─┐
# └─┐││ ┬││││││││ ┬  ├┴┐├┤ └┬┘└─┐
# └─┘┴└─┘┘└┘┴┘└┘└─┘  ┴ ┴└─┘ ┴ └─┘

export SIGNING_KEY_SSH="ssh-signing-key"
export SIGNING_KEY_GPG="gpg-signing-key"

# ┌─┐┌─┐┌─┐┌┐┌┌┬┐┌─┐
# ├─┤│ ┬├┤ │││ │ └─┐
# ┴ ┴└─┘└─┘┘└┘ ┴ └─┘

# macOS
# export GPG_SSH_PROGRAM=/Applications/1Password.app/Contents/MacOS/op-ssh-sign
# export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
# export GPG_PIN_ENTRY_PROGRAM="${HOMEBREW_PREFIX}/bin/pinentry-mac"

# linux
# export GPG_SSH_PROGRAM=/opt/1Password/op-ssh-sign
# export SSH_AUTH_SOCK=~/.1password/agent.sock
# export GPG_PIN_ENTRY_PROGRAM=/usr/bin/pinentry-curses

# ┌─┐┬┌┬┐┬ ┬┬ ┬┌┐
# │ ┬│ │ ├─┤│ │├┴┐
# └─┘┴ ┴ ┴ ┴└─┘└─┘

export GITHUB_USER="github-user"
export GITHUB_ACCESS_TOKEN="github-public-pat"
export GITHUB_REGISTRY_TOKEN="github-registry-pat"

# ┌─┐┌─┐┌─┐┌┐┌┌─┐┬
# │ │├─┘├┤ │││├─┤│
# └─┘┴  └─┘┘└┘┴ ┴┴

export OPENAI_API_KEY_REFERENCE="op://CLI/OpenAI/API_KEY"

# ┌─┐┌─┐┌─┐┌─┐┬  ┌─┐┌─┐┬
# │ ┬│ ││ ││ ┬│  ├┤ ├─┤│
# └─┘└─┘└─┘└─┘┴─┘└─┘┴ ┴┴

export GOOGLEAI_API_KEY_REFERENCE="op://CLI/GoogleAI/API_KEY"

# ┌─┐┌┐┌┌┬┐┬ ┬┬─┐┌─┐┌─┐┬┌─┐
# ├─┤│││ │ ├─┤├┬┘│ │├─┘││
# ┴ ┴┘└┘ ┴ ┴ ┴┴└─└─┘┴  ┴└─┘

export ANTHROPIC_API_KEY_REFERENCE="op://CLI/AnthropicAPI/API_KEY"

# ┌┐┌┌─┐┌┬┐┬┌─┐┌┐┌
# ││││ │ │ ││ ││││
# ┘└┘└─┘ ┴ ┴└─┘┘└┘

export NOTION_API_KEY_REFERENCE="op://CLI/Notion/API_KEY"
export NOTION_BOOKMARKS_ID_REFERENCE="op://CLI/Notion/BOOKMARKS_ID"

# ┌─┐┌─┐
# │ │├─┘
# └─┘┴
# Install 1password CLI and enable SSH agent
# https://developer.1password.com/docs/cli/
# https://developer.1password.com/docs/ssh/agent/config/

export OP_SERVICE_ACCOUNT_TOKEN="1password-service-account-token"

# ┌┐┌┌┐┌┌┐┌
# │││││││││
# ┘└┘┘└┘┘└┘

export NNN_PLUG="o:fzopen;f:fzcd;j:autojump;p:preview-tui;v:imgview"
export NNN_BMS="d:$DOTFILES_HOME"
export NNN_COLORS="4356"                      # Contexts: 1st, 2nd, 3rd, 4th
export NNN_FCOLORS="0e0b05040d060e0909030708" # BLK, CHR, DIR, EXE, REG, HARDLINK, SYMLINK, MISSING, ORPHAN, FIFO, SOCK, OTHER
export NNN_FIFO="/tmp/nnn.fifo"

# ┌─┐┌─┐┬  ┌─┐┌┬┐┌┬┐┌─┐
# ├─┘├─┤│  ├┤  │  │ ├┤
# ┴  ┴ ┴┴─┘└─┘ ┴  ┴ └─┘

# Base colors
export PALETTE_BA_PRIMARY_BG="#242a34"
export PALETTE_BA_SECONDARY_BG="#323a44"
export PALETTE_BA_TERTIARY_BG="#3a4555"
export PALETTE_BA_PRIMARY_FG="#e1e4e8"
export PALETTE_BA_SECONDARY_FG="#adbac7"
export PALETTE_BA_TERTIARY_FG="#8296aa"

# Semantic colors
export PALETTE_SE_PRIMARY="#04f6f6"
export PALETTE_SE_SECONDARY="#ff75b5"
export PALETTE_SE_SUCCESS="#00b196"
export PALETTE_SE_WARNING="#f5b168"
export PALETTE_SE_ERROR="#ff4b82"
export PALETTE_SE_INFO="#6fc1ff"
export PALETTE_SE_HINT="#8296aa"
export PALETTE_SE_FOCUS="#a394cd"

# Syntax colors
export PALETTE_SY_STRING="#00e8c6"
export PALETTE_SY_KEYWORD="#01bdfe"
export PALETTE_SY_FUNCTION="#02d9fe"
export PALETTE_SY_IDENTIFIER="#fdaccb"
export PALETTE_SY_COMMENT="#515f72"
export PALETTE_SY_CONSTANT="#f9bcd3"
export PALETTE_SY_OPERATOR="#ff4b82"
export PALETTE_SY_PREPROCESSOR="#ffb582"
export PALETTE_SY_SPECIAL="#ff75b5"

# UI colors
export PALETTE_UI_RULER="#222831"
export PALETTE_UI_SEPARATOR="#1d232b"
export PALETTE_UI_BORDER="#323a44"
export PALETTE_UI_INDENT="#3a4555"
export PALETTE_UI_CURSOR="#FF6B35"
export PALETTE_UI_UNDERLINE="#009ebc"

# Status line colors
export PALETTE_SL_NORMAL="#f99abf"
export PALETTE_SL_INSERT="#F4D35E"
export PALETTE_SL_VISUAL="#ff4b82"
export PALETTE_SL_REPLACE="#9ED47B"
export PALETTE_SL_COMMAND="#766b95"
export PALETTE_SL_INACTIVE="#1b2839"
export PALETTE_SL_TMUX="#a394cd"
export PALETTE_SL_SECTION_B_BG="#202f42"
export PALETTE_SL_SECTION_B_FG="#599ac8"
export PALETTE_SL_SECTION_C_BG="#1d232b"
export PALETTE_SL_SECTION_C_FG="#3a4555"
