# ███████╗███████╗██╗  ██╗
# ██╔════╝██╔════╝██║  ██║
# ███████╗███████╗███████║
# ╚════██║╚════██║██╔══██║
# ███████║███████║██║  ██║
# ╚══════╝╚══════╝╚═╝  ╚═╝

# OrbStack
Include ~/.orbstack/ssh/config

# OS-specific
Include ~/.ssh/config-${OS}

Host *
  User hallaji
  ServerAliveInterval 60
  ServerAliveCountMax 3
  ForwardAgent yes
  StrictHostKeyChecking ask
