# ███╗   ██╗███████╗████████╗██████╗  ██████╗
# ████╗  ██║██╔════╝╚══██╔══╝██╔══██╗██╔════╝
# ██╔██╗ ██║█████╗     ██║   ██████╔╝██║
# ██║╚██╗██║██╔══╝     ██║   ██╔══██╗██║
# ██║ ╚████║███████╗   ██║   ██║  ██║╚██████╗
# ╚═╝  ╚═══╝╚══════╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝
# curl -n https://api.github.com/user

machine api.github.com
login ${GITHUB_USER}
password ${GITHUB_ACCESS_TOKEN}
